h1 {
    color: blue;
}
h2 {
    color: green;
}
h3 {
    color: red;
}
p {
    color: grey;
}
.usermark {
    float: right;
    margin-right: 50px;
}

.question_zone {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #e7e7e7;
}

.comment_text {
    width: 100%;
}