<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SoureSage Dev Test - Q&A Application</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	
	<link href="{{ url_for('static', filename='bower_components/ionic/release/css/ionic.min.css') }}" rel="stylesheet" />
	<script src="{{ url_for('static', filename='bower_components/ionic/release/js/ionic.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-resource/angular-resource.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/socketio.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.0.1/js/md5.min.js"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/services.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
</head>
<body ng-app="SourceSageQA">
	<ion-nav-bar>
    </ion-nav-bar>
	<ion-nav-view>
	</ion-nav-view>
</body>
</html>