<div class="bar bar-header bar-light">
  <h1 class="title">Questions</h1>
</div>
<ion-view view-title="Questions">
  <ion-content>
    <label class="item item-input">
      <textarea placeholder="Your question ..." rows="5"></textarea>
    </label>
    <button class="button button-block button-balanced">
      Create Question
    </button>
    <div class="list card" ng-repeat="ques in questions">
      <div class="item">
        <h3>[[ ques.author ]]</h3>
        <p>[[ ques.time ]]</p>
      </div>
      <div class="item item-body">
        <p>[[ ques.content ]]</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>